.add-todo-card {
    border: rgba(0, 0, 0, 0.80) solid 1px;
    border-radius: 0.5rem;
    bottom: 1.5rem;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: grid;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 40rem;
    position: sticky;
}

.add-todo-btn {
    background-color: rgba(0, 153, 73, 0.80);
    border: none;
    color: var(--light-text-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

@media (hover :hover) {
    
    .add-todo-card:hover {
        border: #000 solid 1px;
        transform: scale(1.02);
    }
    
    .add-todo-btn:hover {
        background-color: #009949;
    }
}