.todo-page {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-areas: "title title"
                         "desc desc"
                         "datePicker empty"
                         "subTodos subTodos"
                         "addSubTodo addSubTodo"
                         "done cancel";
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1.5rem;
    row-gap: 1.5rem;
}

.todo-page>.title {
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    grid-area: title;
    height: 2.5rem;
    padding: 0 0.5rem;
}

.todo-page>.description {
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    grid-area: desc;
    height: 10rem;
    padding: 0.5rem;
}

.todo-page>.datePicker {
    border: 1px solid #d9d9d9;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    grid-area: datePicker;
    height: 2.5rem;
    padding: 0 0.5rem;
}

.todo-page>button {
    border: 1px solid #000;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

.todo-page>.cancel {
    background-color: #e63b29;
    grid-area: cancel;
    height: 3rem;
    place-self: end;
    width: 10rem;
}

.todo-page>.done {
    background-color: #009949;
    grid-area: done;
    height: 3rem;
    width: 10rem;
}

.todo-page>.add {
    background-color: #009949;
    grid-column: done / delete;
    grid-row: done;
    height: 3rem;
}

.todo-page>.addSubTodo {
    background-color: #009949;
    grid-area: addSubTodo;
    height: 6rem;
    margin-bottom: 1.5rem;
}

.todo-page>.subTodos {
    grid-area: subTodos;
}

@media (hover :hover) {

    .todo-page>button:hover {
        transform: scale(1.02);
    }
}